<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu Page</title>

  <!--Bootstrap links-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!--Javascript, Jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../scripts/app.js"></script>
  
  <!--Stylesheets-->
  <link rel="stylesheet" href="../styles/menu.css" type="text/css" />

</head>

<body>
<div class="nav">
  <nav>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default"><a href="www.yellowpages.ca">Contact</a></button>
        <button type="button" class="btn btn-default"><a href="www.halifax.ca">Location</a></button>
        <button type="button" class="btn btn-default"><a href="/Login">Login</a></button>

        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sponsors
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Lunch</a></li>
            <li><a href="#">Dinner</a></li>
            <li><a href="#">Late Night</a></li>
            <li><a href="#">Snacks</a></li>
          </ul>
        </div>
      </div>
      <div class="jumbotron text-center">
        <h1>Order Food Bar and Grill</h1>
          <p>Delicious, made easy.</p>
    </div>
  </nav>
</div>

<section class="main-container">

    <article class="lunch-article">
    <section class="col-xs-12 lunch">
      <h3>Lunch</h3>
    </section>
      <article class="lunch-food-description">
        <h4>Join us for lunch! 12:00 to 4:00 Daily!</h4>
        <ol>
          <li>Gourmet Hotdog</li>
          <li>Gourmet Burger</li>
          <li>Organic Kraft Dinner</li>
        </ol>
          <section class="img">
            <img src="http://www.takestockmagazine.com/wp-content/uploads/2014/02/Whats-new-Gourmet-Hot-Dog-Rol1.jpg" />
          </section>
      </article>
          
    </article>

    <article class="main-article">
    <section class="col-xs-12">
      <h3>Supper</h3>
    </section>
    </article>

    <article class="main-article">
    <section class="col-xs-12">
      <h3>Late Night</h3>
    </section>
    </article>
        
    <article class="main-article">
    <section class="col-xs-12">
      <h3>Snacks</h3>
    </section>
      </article>

    <article class="main-article">
    <section class="col-xs-12">
      <h3>Drinks</h3>
    </section>
    </article>

    <article class="main-article">
    <section class="col-xs-12">
      <h3>Dessert</h3>
    </section>
    </article>

</section>

</body>
</html>
