.cart {
	display: block;
    height: 30px;
    padding-left: 31px;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
    background: transparent url(//d85wutc1n854v.cloudfront.net/live/imgs/glyphicons_209_cart_in.png) no-repeat left center;
    float: right;
}