.input-group {
  border: solid black 1px;
}

img {
  height: 180px;
	float: right;
}

/*h3:hover > ul.dropdown-menu {
  display: block;
}*/

section.main-container {
	width: 100%;
	height: auto 0;
	margin: auto 0;
}

.nav {
	background-color: lightgrey;
	color: black;
	margin-right: -2em;
}

.col-xs-12 {
	width: 100%;
  background-color: lightseagreen;
  border-radius: 20px;
  border: darkseagreen solid 2px;
}

.container {
	margin: 10em;
}

section {
	margin: 2em;
}

.paragraph {
	margin: -2em;
}

.food-description {
	width: 50%;
	padding: 10px;
}

.lunch-food-description {
	width: 50%;
	padding: 10px;
}

.lunch-article .main-article {
	margin: 2em;
}